html {
  font-family: 'Bevan', sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
  color: #fff;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
}

.planets li {
  padding: .5em;
  margin: .3em;
  list-style-type: none;
  text-align: center;
  background-color: #713837;
  display: inline-block;
}
