html {
  font-family: Bevan;
  line-height: 1.5;
  background-color: #dbd6cf;
  color: #fff;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-family: Bevan;
  padding: 0;
}

body {
  background-color: #79756f;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: #595652;
}

nav ul {
  text-align: center;
  padding: 0;
}

nav a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  display: inline-block;
  text-align: center;
}

nav li {
  margin: 0;
  padding: .5em .75em;
  background-color: #713837;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
}

nav a:hover, li:hover {
  background-color: #f33;
}
