html {
  font-family: Bevan, sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
  color: #fff;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
}

body {
  display: block;
  background-color: #79756f;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 5px;
}

nav a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

nav li {
  padding: .5em;
  margin: .3em;
  text-align: center;
  background-color: #713837;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
}

nav li:hover {
  background-color: #f33;
}
